$green: #009999;
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
a{
    text-decoration: none;
}
.btn{
    display: block;
    background-color: $green;
    color: black;
    font-weight: bold;
    padding: 14px 16px;
    text-align: center;
    max-width: 250px;
    margin: 0 auto;
    margin-top: 2em;
    transition: all ease .5s;
    &:hover{
        background-color: black;
        color: $green;
    }
}
li{
    list-style: none;
}
.adorno{
    display: block;
    padding: 2em 0 3em 0 ;
    margin: 0 auto;
}
.titles{
    text-align: center;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    color: #FFF;
    text-shadow: 1px 1px 2px black;
    font-size: 2em;
}
.body{
    box-sizing: content-box;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    &--nosotros{
        background-image: url('../img/banner-nosotros.jpg');
    }
    &--servicios{
        background-image: url('../img/banner-servicios.jpg');
    }
    &--contacto{
        background-image: url('../img/banner-contacto.jpg');
    }
    // &:before{
    //     content: '';
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     background-color: rgba(black, .4);
    //     z-index: -1;
    // }
}
.header{
    display: flex;
    justify-content: space-between;
    &__logo{
        padding: 2% 0em 0em 2%;
    }
    &__nav{
        padding: 4% 3% 2% 0;
        ul{
            display: flex;
            li{
                font-weight: 600;
                margin-left: 2em;
                a{
                    color: #FFF;
                    padding-bottom: 1em;
                    border-bottom: 3px solid transparent;
                    transition: all ease .5s;
                    &:hover{
                        border-bottom: 3px solid $green;
                    }
                }
            }
        }
    }
}
.nosotros{
    max-width: 500px;
    border: 2px solid $green;
    float: right;
    margin: 2% 10% 0 0;
    padding: 3% 2%;
    &__p{
        color: #FFF;
        padding: 1em;
        text-shadow: 1px 1px 2px black;
        text-align: justify;
    }
}
.servicios{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;
    &__wrap{
        display: flex;
    }
    &__mitad{
        width: 50%;
        margin: 2% 2% 0 0;
    }
    &__li{
        display: flex;
        margin-bottom: 2%;
    }
    &__img{
        display: block;
        align-self: center;
        text-align: center;
    }
    &__p{
        color: #FFF;
        margin: 0 1em;
        align-self: center;
        text-shadow: 1px 1px 2px black;
    }
}
.contact{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 6%;
    &__50{
        width: 50%;
    }
    &__ul{
        color: #FFF;
        li{
            display: flex;
            padding: 2em 0;
            span{
                padding-left: 1em;
            }
            &:first-child{
                margin-top: 5em;
            }
        }
    }
    &__form{
        max-width: 400px;
        margin: 0 auto;
        input{
            width: 100%;
            font-size: 1em;
            background-color: rgba(#000, .5);
            border: 1px solid #FFF;
            padding: 1em;
            margin-bottom: .5em;
            outline: none;
            color: #FFF;
            font-weight: 300;
            &::placeholder{
                color: #FFF;
                font-family: 'Poppins', sans-serif;
            }
        }
        button{
            width: 100%;
            border: 0;
            cursor: pointer;
            margin: 0  auto;
            outline: none;
        }
    }
}
.asociados{
    background-color: rgba(#FFF, .8);
    // position: absolute;
    // bottom: 0;
    width: 100%;
    text-align: center;
    padding: 2.5em 0 2.5em 0;
    &__title{
        margin-bottom: 1em;
    }
}
.mySlides{
	position: absolute;
	top: 0;
	z-index: -1;
	width: 100%;
	// background: url('') no-repeat center center fixed; 
	background-size: cover;
	height:100%;
 	// min-height:100%;
 	background-color: blue;
 	background-position: top center;
 	&--bg{
 		background-color: rgba(black,.3);
 		position: absolute;
 		width: 100%;
 		height: 100%;
 		z-index: 999;
 		// background-image: url('img/main-bg.gif');
 	}
 	&__slidercito{
		height: 100%;
		li{
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			height: 100%;
            width: 100%;
            color: #FFF;
		}
	}
}