* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

.btn {
  display: block;
  background-color: #009999;
  color: black;
  font-weight: bold;
  padding: 14px 16px;
  text-align: center;
  max-width: 250px;
  margin: 0 auto;
  margin-top: 2em;
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s; }
  .btn:hover {
    background-color: black;
    color: #009999; }

li {
  list-style: none; }

.adorno {
  display: block;
  padding: 1em 0;
  margin: 0 auto; }

.titles {
  text-align: center;
  font-family: 'PT Serif', serif;
  font-weight: 400;
  color: #FFF;
  text-shadow: 1px 1px 2px black;
  font-size: 2em; }

.body {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; }
  .body--nosotros {
    background-image: url("../img/banner-nosotros.jpg"); }
  .body--servicios {
    background-image: url("../img/banner-servicios.jpg"); }
  .body--contacto {
    background-image: url("../img/banner-contacto.jpg"); }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  z-index: 2; }
  .header__logo {
    padding: 1% 0em 0em 1%; }
  .header__nav {
    padding: 3% 2% 1% 0; }
    .header__nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .header__nav ul li {
        font-weight: 600;
        margin-left: 2em; }
        .header__nav ul li a {
          color: #FFF;
          padding-bottom: 1em;
          border-bottom: 3px solid transparent;
          -webkit-transition: all ease .5s;
          -o-transition: all ease .5s;
          transition: all ease .5s; }
          .header__nav ul li a:hover {
            border-bottom: 3px solid #009999; }
        .header__nav ul li .active {
          border-bottom: 3px solid #009999; }
    .header__nav #btnMovil {
      display: none; }
      .header__nav #btnMovil + label {
        display: none; }

.mySlider {
  color: #FFF;
  position: absolute;
  top: 0; }
  .mySlider__item {
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 5%; }
    .mySlider__item__content {
      -ms-flex-item-align: center;
      align-self: center; }
    .mySlider__item--uno {
      background-image: url("../img/inicio-01.jpg"); }
    .mySlider__item--dos {
      background-image: url("../img/inicio-02.jpg"); }
    .mySlider__item--tres {
      background-image: url("../img/inicio-03.jpg"); }
  .mySlider .owl-nav.disabled + .owl-dots {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto; }
  .mySlider .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent; }
  .mySlider .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
  .mySlider .owl-dots .owl-dot span {
    width: 20px;
    height: 20px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: opacity 200ms ease;
    -o-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    border-radius: 30px; }
  .mySlider .owl-dots .owl-dot.active span, .mySlider .owl-dots .owl-dot:hover span {
    background: #869791; }

.nosotros {
  max-width: 800px;
  border: 2px solid #009999;
  margin: 0 auto;
  padding: 2% 1%;
  margin-top: 1%;
  margin-bottom: 1%; }
  .nosotros__p {
    color: #FFF;
    padding: 1em;
    text-shadow: 1px 1px 2px black;
    text-align: justify; }

.servicios {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 1%; }
  .servicios__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .servicios__mitad {
    width: 50%;
    margin: 1% 1% 0 0; }
  .servicios__li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2%; }
  .servicios__img {
    display: block;
    -ms-flex-item-align: center;
    align-self: center;
    text-align: center;
    width: 20%; }
  .servicios__p {
    width: 80%;
    color: #FFF;
    margin: 0 1em;
    -ms-flex-item-align: center;
    align-self: center;
    text-shadow: 1px 1px 2px black; }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 6%; }
  .contact__50 {
    width: 50%; }
  .contact__ul {
    color: #FFF; }
    .contact__ul li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 1em 0; }
      .contact__ul li span {
        padding-left: 1em; }
      .contact__ul li:first-child {
        margin-top: 5em; }
  .contact__form {
    max-width: 400px;
    margin: 0 auto; }
    .contact__form input {
      width: 100%;
      font-size: 1em;
      background-color: rgba(0, 0, 0, 0.5);
      border: 1px solid #FFF;
      padding: 1em;
      margin-bottom: .5em;
      outline: none;
      color: #FFF;
      font-weight: 300;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      .contact__form input::-webkit-input-placeholder {
        color: #FFF;
        font-family: 'Poppins', sans-serif; }
      .contact__form input:-ms-input-placeholder {
        color: #FFF;
        font-family: 'Poppins', sans-serif; }
      .contact__form input::-ms-input-placeholder {
        color: #FFF;
        font-family: 'Poppins', sans-serif; }
      .contact__form input::placeholder {
        color: #FFF;
        font-family: 'Poppins', sans-serif; }
    .contact__form button {
      width: 100%;
      border: 0;
      cursor: pointer;
      margin: 0  auto;
      outline: none; }

.asociados {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  text-align: center;
  padding: 2em 0;
  clear: both;
  position: fixed;
  left: 0px;
  bottom: 0px; }
  .asociados__title {
    margin-bottom: 1em; }
  .asociados .mySlider2 {
    max-width: 800px;
    margin: 0 auto; }
    .asociados .mySlider2__item img {
      text-align: center;
      width: auto;
      margin: 0 auto; }

@media screen and (max-width: 900px) {
  .adorno {
    padding: 1em 0 2em 0; }
  .mySlider__item {
    padding: 0; }
    .mySlider__item__content {
      padding: 0 3em; }
  .header {
    display: block;
    text-align: center; }
    .header__nav {
      padding: 0; }
      .header__nav ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        position: fixed;
        width: 150px;
        right: -50%;
        z-index: 2;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        bottom: 9rem; }
        .header__nav ul li {
          margin: 0; }
          .header__nav ul li a {
            display: block;
            text-align: left;
            padding: 10px; }
      .header__nav #btnMovil + label {
        display: block !important;
        background-color: #FFF;
        -webkit-box-shadow: 1px 5px 20px 2px rgba(0, 0, 0, 0.8);
        box-shadow: 1px 5px 20px 2px rgba(0, 0, 0, 0.8);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        padding: 5px;
        position: fixed;
        bottom: 4rem;
        z-index: 3;
        right: 1.5rem;
        font-size: 2em; }
        .header__nav #btnMovil + label img {
          display: block;
          margin: 12px auto;
          width: 30px; }
        .header__nav #btnMovil + label:hover {
          cursor: pointer; }
    #btnMovil:checked ~ .header__ul {
      background-color: #000;
      cursor: pointer;
      right: 1rem;
      -webkit-box-shadow: 2px 4px 40px 0px rgba(0, 0, 0, 0.7);
      box-shadow: 2px 4px 40px 0px rgba(0, 0, 0, 0.7);
      overflow: auto; }
  .main {
    padding: 1em; }
  .nosotros {
    margin: 0 auto;
    float: none; }
  .servicios__wrap {
    display: block; }
  .servicios__mitad {
    width: 100%; }
  .servicios__img {
    width: 20%; }
  .servicios__p {
    width: 80%;
    font-size: .9em; }
  .contact {
    display: block;
    margin: 0 auto; }
    .contact__50 {
      width: 100%;
      margin-top: 1em; }
    .contact__ul {
      color: #FFF; }
      .contact__ul li {
        padding: .5em 0; }
        .contact__ul li:first-child {
          margin-top: 0; } }
