$green: #009999;
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.btn{
    display: block;
    background-color: $green;
    color: black;
    font-weight: bold;
    padding: 14px 16px;
    text-align: center;
    max-width: 250px;
    margin: 0 auto;
    margin-top: 2em;
    transition: all ease .5s;
    &:hover{
        background-color: black;
        color: $green;
    }
}
li{
    list-style: none;
}
.adorno{
    display: block;
    padding: 2em 0 3em 0 ;
    margin: 0 auto;
}
.titles{
    text-align: center;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    color: #FFF;
    text-shadow: 1px 1px 2px black;
    font-size: 2em;
}
.body{
    box-sizing: content-box;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    &--nosotros{
        background-image: url('../img/banner-nosotros.jpg');
    }
    &--servicios{
        background-image: url('../img/banner-servicios.jpg');
    }
    &--contacto{
        background-image: url('../img/banner-contacto.jpg');
    }
    // &:before{
    //     content: '';
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     background-color: rgba(black, .4);
    //     z-index: -1;
    // }
}
.header{
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    &__logo{
        padding: 2% 0em 0em 2%;
    }
    &__nav{
        padding: 4% 3% 2% 0;
        ul{
            display: flex;
            li{
                font-weight: 600;
                margin-left: 2em;
                a{
                    color: #FFF;
                    padding-bottom: 1em;
                    border-bottom: 3px solid transparent;
                    transition: all ease .5s;
                    &:hover{
                        border-bottom: 3px solid $green;
                    }
                }
            }
        }
        #btnMovil{
			display: none;
			& + label{
				display: none;
			}
		}
    }
}
.mySlider{
    color: #FFF;
    position: absolute;
    top: 0;
	&__item{
        background-size: cover;
        background-position: center center;
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: flex-end;
        padding-right: 5%;
        &__content{
            align-self: center;
        }
		&--uno{
            background-image: url('../img/inicio-01.jpg');
        }
        &--dos{
            background-image: url('../img/inicio-02.jpg');
        }
        &--tres{
            background-image: url('../img/inicio-03.jpg');
        }
    }
    .owl-nav.disabled + .owl-dots{
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }
    .owl-dots {
        text-align: center;
        -webkit-tap-highlight-color: transparent; }
        .owl-dots .owl-dot {
            display: inline-block;
            zoom: 1;
            *display: inline;
        }
        .owl-dots .owl-dot span {
            width: 20px;
            height: 20px;
            margin: 5px 7px;
            background: #D6D6D6;
            display: block;
            -webkit-backface-visibility: visible;
            transition: opacity 200ms ease;
            border-radius: 30px; }
        .owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span {
            background: #869791;
        }
    }
.nosotros{
    max-width: 500px;
    border: 2px solid $green;
    float: right;
    margin: 2% 10% 0 0;
    padding: 3% 2%;
    &__p{
        color: #FFF;
        padding: 1em;
        text-shadow: 1px 1px 2px black;
        text-align: justify;
    }
}
.servicios{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;
    &__wrap{
        display: flex;
    }
    &__mitad{
        width: 50%;
        margin: 2% 2% 0 0;
    }
    &__li{
        display: flex;
        margin-bottom: 2%;
    }
    &__img{
        display: block;
        align-self: center;
        text-align: center;
    }
    &__p{
        color: #FFF;
        margin: 0 1em;
        align-self: center;
        text-shadow: 1px 1px 2px black;
    }
}
.contact{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 6%;
    &__50{
        width: 50%;
    }
    &__ul{
        color: #FFF;
        li{
            display: flex;
            padding: 2em 0;
            span{
                padding-left: 1em;
            }
            &:first-child{
                margin-top: 5em;
            }
        }
    }
    &__form{
        max-width: 400px;
        margin: 0 auto;
        input{
            width: 100%;
            font-size: 1em;
            background-color: rgba(#000, .5);
            border: 1px solid #FFF;
            padding: 1em;
            margin-bottom: .5em;
            outline: none;
            color: #FFF;
            font-weight: 300;
            box-sizing: border-box;
            &::placeholder{
                color: #FFF;
                font-family: 'Poppins', sans-serif;
            }
        }
        button{
            width: 100%;
            border: 0;
            cursor: pointer;
            margin: 0  auto;
            outline: none;
        }
    }
}
.asociados{
    background-color: rgba(#FFF, .8);
    // position: absolute;
    // bottom: 0;
    width: 100%;
    text-align: center;
    padding: 2.5em 0 2.5em 0;
    &__title{
        margin-bottom: 1em;
    }
}
@media screen and (max-width: 900px){
    .adorno{
        padding: 1em 0 2em 0;
    }
    .mySlider{
        &__item{
            padding: 0;
            &__content{
                padding: 0 3em;
            }
        }
    }
    .header{
        display: block;
        text-align: center;
        &__nav{
            padding: 0;
			ul{
				flex-direction: column;
				position: fixed;
				width: 150px;
				right: -50%;
				z-index: 2;
				transition: all .5s;
				bottom: 9rem;
				li{
                    margin: 0;
					// &:nth-child(1){
					// 	border-left: 0 !important;
					// }
				    a{
				    	// padding: 1.25rem !important;
                        // text-transform: capitalize !important;
                        display: block;
                        text-align: left;
                        padding: 10px;
				    }
				}
            }
            #btnMovil + label{
                display: block !important;
                background-color: #FFF;
                box-shadow: 1px 5px 20px 2px rgba(0, 0, 0, 0.8);
                width: 50px;
                height: 50px;
                border-radius: 50%;
                padding: 5px;
                position: fixed;
                bottom: 4rem;
                z-index: 3;
                right: 1.5rem;
                font-size: 2em;
                img{
                    display: block;
                    margin: 12px auto;
                    width: 30px;
                }
                &:hover{
                    cursor: pointer;
                }
            }
		}	
                #btnMovil:checked ~ &__ul{
                    background-color: #000;
                    cursor: pointer;
                    right: 1rem;
                    box-shadow: 2px 4px 40px 0px rgba(black,.7);
                    overflow: auto;
                }
    }
    .main{
        padding: 1em;
    }
    .nosotros{
        margin: 0 auto;
        float: none;
    }
    .servicios{
        &__wrap{
            display: block;
        }
        &__mitad{
            width: 100%;
        }
        &__img{
            width: 20%;
        }
        &__p{
            width: 80%;
            font-size: .9em;
        }
    }
    .contact{
        display: block;
        margin: 0 auto;
        // margin-top: 6%;
        &__50{
            width: 100%;
            margin-top: 1em;
        }
        &__ul{
            color: #FFF;
            li{
                padding: .5em 0;
                &:first-child{
                    margin-top: 0;
                }
            }
        }
    }
}